.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact-logo {
  text-decoration: none;
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-home {
  transition: 0.3s;
  text-decoration: none;
}
.contact-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-login {
  margin-right: 32px;
}
.contact-burger-menu {
  display: none;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.contact-hero1 {
  height: 47px;
}
.contact-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-hero-heading {
  max-width: 800px;
  text-align: center;
}
.contact-faq1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-faq2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 875px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.contact-contact-form {
  width: 453px;
  height: 712px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-select-services {
  width: 253px;
  height: 104px;
}
.contact-seo-local-seo {
  width: 235px;
  height: 0px;
}
.contact-content-creation {
  width: 357px;
}
.contact-logo-design {
  width: 283px;
  padding-right: var(--dl-space-space-unit);
}
.contact-textarea {
  width: 253px;
  height: 187px;
}
.contact-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.contact-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact-home1 {
  margin-left: 0px;
  text-decoration: none;
}
.contact-faq3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-plans-pricing1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-portfolio1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-resources1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-contact1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-text22 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.contact-link {
  text-decoration: underline;
}
.contact-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-link1 {
  display: contents;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-link2 {
  display: contents;
}
.contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-link3 {
  display: contents;
}
.contact-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-hero1 {
    flex-direction: column;
  }
  .contact-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .contact-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-faq2 {
    flex-direction: column;
  }
  .contact-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text22 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu1 {
    padding: 16px;
  }
  .contact-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text22 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
