.faq-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.faq-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.faq-logo {
  text-decoration: none;
}
.faq-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.faq-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.faq-home {
  transition: 0.3s;
  text-decoration: none;
}
.faq-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.faq-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.faq-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.faq-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.faq-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.faq-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-login {
  margin-right: 32px;
}
.faq-burger-menu {
  display: none;
}
.faq-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.faq-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.faq-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.faq-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.faq-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.faq-home1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-faq1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-plans-pricing1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-portfolio1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-resources1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-contact1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.faq-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.faq-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.faq-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.faq-hero1 {
  height: 259px;
}
.faq-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.faq-hero-heading {
  max-width: 800px;
  text-align: center;
}
.faq-text2 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.faq-text3 {
  text-align: left;
}
.faq-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-features-container {
  align-items: center;
  justify-content: center;
}
.faq-faq2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.faq-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.faq-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.faq-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.faq-home2 {
  margin-left: 0px;
  text-decoration: none;
}
.faq-faq3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-plans-pricing2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-portfolio2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-resources2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-contact2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.faq-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-text6 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.faq-link {
  text-decoration: underline;
}
.faq-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-link1 {
  display: contents;
}
.faq-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.faq-link2 {
  display: contents;
}
.faq-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.faq-link3 {
  display: contents;
}
.faq-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .faq-hero1 {
    flex-direction: column;
  }
  .faq-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .faq-hero-heading {
    text-align: center;
  }
  .faq-text {
    text-align: center;
  }
  .faq-text3 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .faq-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .faq-desktop-menu {
    display: none;
  }
  .faq-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq-home1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-faq1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-plans-pricing1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-portfolio1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-resources1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-contact1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .faq-text3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .faq-faq2 {
    flex-direction: column;
  }
  .faq-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .faq-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .faq-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .faq-text6 {
    font-size: 16px;
    font-family: Cabin;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .faq-link {
    text-decoration: underline;
  }
}
@media(max-width: 479px) {
  .faq-navbar-interactive {
    height: 98px;
    padding: var(--dl-space-space-unit);
  }
  .faq-mobile-menu1 {
    padding: 16px;
  }
  .faq-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .faq-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .faq-features-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .faq-faq2 {
    height: 1099px;
  }
  .faq-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .faq-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .faq-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .faq-text6 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
