.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.page-logo {
  text-decoration: none;
}
.page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-home {
  transition: 0.3s;
  text-decoration: none;
}
.page-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-login {
  margin-right: 32px;
}
.page-burger-menu {
  display: none;
}
.page-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.page-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-nav4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-nav2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-nav3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-nav5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.page-hero1 {
  height: 163px;
}
.page-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-hero-heading {
  max-width: 800px;
  text-align: center;
}
.page-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-banner1 {
  height: 1010px;
  background-color: #252f12;
}
.page-banner-heading {
  text-align: center;
}
.page-banner-button {
  text-decoration: none;
}
.page-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.page-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.page-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.page-home1 {
  margin-left: 0px;
  text-decoration: none;
}
.page-faq1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-plans-pricing1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-portfolio1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-resources1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-contact1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-text16 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.page-link {
  text-decoration: underline;
}
.page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-link1 {
  display: contents;
}
.page-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-link2 {
  display: contents;
}
.page-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-link3 {
  display: contents;
}
.page-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .page-hero1 {
    flex-direction: column;
  }
  .page-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .page-hero-heading {
    text-align: center;
  }
  .page-banner-sub-heading {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-desktop-menu {
    display: none;
  }
  .page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .page-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-text16 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .page-mobile-menu1 {
    padding: 16px;
  }
  .page-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-banner1 {
    height: 714px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .page-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-text16 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
