.plans-pricing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.plans-pricing-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.plans-pricing-logo {
  text-decoration: none;
}
.plans-pricing-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.plans-pricing-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.plans-pricing-home {
  transition: 0.3s;
  text-decoration: none;
}
.plans-pricing-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plans-pricing-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plans-pricing-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plans-pricing-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plans-pricing-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.plans-pricing-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.plans-pricing-login {
  margin-right: 32px;
}
.plans-pricing-burger-menu {
  display: none;
}
.plans-pricing-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.plans-pricing-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.plans-pricing-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.plans-pricing-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.plans-pricing-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans-pricing-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.plans-pricing-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.plans-pricing-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-nav4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-nav2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-nav3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-nav5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.plans-pricing-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.plans-pricing-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.plans-pricing-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plans-pricing-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.plans-pricing-hero1 {
  height: 176px;
}
.plans-pricing-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.plans-pricing-hero-heading {
  max-width: 800px;
  text-align: center;
}
.plans-pricing-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.plans-pricing-pricing {
  background-color: #252f12;
}
.plans-pricing-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.plans-pricing-pricing-sub-heading {
  text-align: center;
}
.plans-pricing-container03 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.plans-pricing-container04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.plans-pricing-text16 {
  text-transform: uppercase;
}
.plans-pricing-container05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.plans-pricing-text17 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.plans-pricing-free-plan-price {
  font-size: 4rem;
  font-weight: 700;
}
.plans-pricing-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.plans-pricing-text20 {
  line-height: 150%;
}
.plans-pricing-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.plans-pricing-container08 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text21 {
  line-height: 150%;
}
.plans-pricing-container09 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text22 {
  line-height: 150%;
}
.plans-pricing-container10 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text23 {
  line-height: 150%;
}
.plans-pricing-container11 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text24 {
  line-height: 150%;
}
.plans-pricing-button {
  width: 100%;
}
.plans-pricing-container12 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.plans-pricing-text25 {
  text-transform: uppercase;
}
.plans-pricing-container13 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.plans-pricing-text26 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.plans-pricing-basic-plan-pricing {
  font-size: 4rem;
  font-weight: 700;
}
.plans-pricing-container14 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.plans-pricing-container15 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text29 {
  line-height: 150%;
}
.plans-pricing-container16 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text31 {
  line-height: 150%;
}
.plans-pricing-container17 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text32 {
  line-height: 150%;
}
.plans-pricing-container18 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text33 {
  line-height: 150%;
}
.plans-pricing-button1 {
  width: 100%;
}
.plans-pricing-container19 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.plans-pricing-text34 {
  text-transform: uppercase;
}
.plans-pricing-container20 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.plans-pricing-text37 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.plans-pricing-pro-plan-pricing {
  font-size: 4rem;
  font-weight: 700;
}
.plans-pricing-container21 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.plans-pricing-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text40 {
  line-height: 150%;
}
.plans-pricing-container23 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text42 {
  line-height: 150%;
}
.plans-pricing-container24 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text43 {
  line-height: 150%;
}
.plans-pricing-container25 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text44 {
  line-height: 150%;
}
.plans-pricing-container26 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-pricing-text45 {
  line-height: 150%;
}
.plans-pricing-button2 {
  width: 100%;
  animation-name: headShake;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.plans-pricing-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans-pricing-features-container {
  align-items: center;
  justify-content: center;
}
.plans-pricing-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 819px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.plans-pricing-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.plans-pricing-our-services-container {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.plans-pricing-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans-pricing-container27 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.plans-pricing-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.plans-pricing-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.plans-pricing-home1 {
  margin-left: 0px;
  text-decoration: none;
}
.plans-pricing-faq1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-plans-pricing1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-portfolio1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-resources1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.plans-pricing-contact1 {
  margin-left: var(--dl-space-space-unit);
}
.plans-pricing-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.plans-pricing-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.plans-pricing-text46 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.plans-pricing-link {
  text-decoration: underline;
}
.plans-pricing-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.plans-pricing-link1 {
  display: contents;
}
.plans-pricing-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plans-pricing-link2 {
  display: contents;
}
.plans-pricing-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plans-pricing-link3 {
  display: contents;
}
.plans-pricing-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .plans-pricing-hero1 {
    flex-direction: column;
  }
  .plans-pricing-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .plans-pricing-hero-heading {
    text-align: center;
  }
  .plans-pricing-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .plans-pricing-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .plans-pricing-container03 {
    align-items: center;
    flex-direction: column;
  }
  .plans-pricing-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .plans-pricing-pricing-card1 {
    width: 100%;
    max-width: 450px;
  }
  .plans-pricing-pricing-card2 {
    width: 100%;
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .plans-pricing-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plans-pricing-desktop-menu {
    display: none;
  }
  .plans-pricing-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plans-pricing-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plans-pricing-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .plans-pricing-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .plans-pricing-container03 {
    align-items: center;
    flex-direction: column;
  }
  .plans-pricing-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .plans-pricing-pricing-card1 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .plans-pricing-pricing-card2 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .plans-pricing-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plans-pricing-our-services-container {
    grid-template-columns: 1fr;
  }
  .plans-pricing-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plans-pricing-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .plans-pricing-container28 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .plans-pricing-text46 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .plans-pricing-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .plans-pricing-mobile-menu1 {
    padding: 16px;
  }
  .plans-pricing-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .plans-pricing-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-pricing-pricing-card2 {
    margin-bottom: 0px;
  }
  .plans-pricing-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .plans-pricing-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .plans-pricing-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .plans-pricing-container28 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .plans-pricing-text46 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
