.portfolio-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.portfolio-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.portfolio-logo {
  text-decoration: none;
}
.portfolio-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.portfolio-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.portfolio-home {
  transition: 0.3s;
  text-decoration: none;
}
.portfolio-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-login {
  margin-right: 32px;
}
.portfolio-burger-menu {
  display: none;
}
.portfolio-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.portfolio-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.portfolio-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.portfolio-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.portfolio-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.portfolio-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-nav4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-nav2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-nav3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-nav5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.portfolio-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.portfolio-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.portfolio-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.portfolio-hero1 {
  height: 123px;
}
.portfolio-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-hero-heading {
  max-width: 800px;
  text-align: center;
}
.portfolio-faq1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-faq2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.portfolio-container2 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-text03 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.portfolio-text04 {
  text-align: left;
}
.portfolio-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.portfolio-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.portfolio-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.portfolio-home1 {
  margin-left: 0px;
  text-decoration: none;
}
.portfolio-faq3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-plans-pricing1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-portfolio1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-resources1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-contact1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.portfolio-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.portfolio-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-text07 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.portfolio-link {
  text-decoration: underline;
}
.portfolio-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-link1 {
  display: contents;
}
.portfolio-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-link2 {
  display: contents;
}
.portfolio-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.portfolio-link3 {
  display: contents;
}
.portfolio-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .portfolio-hero1 {
    flex-direction: column;
  }
  .portfolio-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .portfolio-hero-heading {
    text-align: center;
  }
  .portfolio-text04 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .portfolio-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .portfolio-desktop-menu {
    display: none;
  }
  .portfolio-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .portfolio-faq2 {
    flex-direction: column;
  }
  .portfolio-container2 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .portfolio-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .portfolio-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .portfolio-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .portfolio-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-text07 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .portfolio-navbar-interactive {
    height: 99px;
    padding: var(--dl-space-space-unit);
  }
  .portfolio-mobile-menu1 {
    padding: 16px;
  }
  .portfolio-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .portfolio-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .portfolio-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .portfolio-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .portfolio-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-text07 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
