.resources-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resources-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.resources-logo {
  text-decoration: none;
}
.resources-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.resources-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.resources-home {
  transition: 0.3s;
  text-decoration: none;
}
.resources-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-login {
  margin-right: 32px;
}
.resources-burger-menu {
  display: none;
}
.resources-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.resources-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.resources-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.resources-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.resources-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.resources-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.resources-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.resources-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.resources-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.resources-hero1 {
  height: 135px;
}
.resources-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-hero-heading {
  max-width: 800px;
  text-align: center;
}
.resources-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.resources-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.resources-hero-button1 {
  text-decoration: none;
}
.resources-hero-button2 {
  text-decoration: none;
}
.resources-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 819px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.resources-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.resources-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.resources-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.resources-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-banner-heading {
  text-align: center;
}
.resources-banner-button {
  text-decoration: none;
}
.resources-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-container5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.resources-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.resources-home1 {
  margin-left: 0px;
  text-decoration: none;
}
.resources-faq1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-plans-pricing1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-portfolio1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-resources1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-contact1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.resources-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-text17 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.resources-link {
  text-decoration: underline;
}
.resources-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-link1 {
  display: contents;
}
.resources-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-link2 {
  display: contents;
}
.resources-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-link3 {
  display: contents;
}
.resources-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .resources-hero1 {
    flex-direction: column;
  }
  .resources-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .resources-hero-heading {
    text-align: center;
  }
  .resources-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .resources-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-desktop-menu {
    display: none;
  }
  .resources-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resources-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-hero1 {
    height: 224px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-features1 {
    height: 1145px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .resources-container4 {
    grid-template-columns: 1fr;
  }
  .resources-banner1 {
    height: 294px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .resources-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .resources-text17 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .resources-navbar-interactive {
    height: 97px;
    padding: var(--dl-space-space-unit);
  }
  .resources-mobile-menu1 {
    padding: 16px;
  }
  .resources-hero1 {
    height: 181px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .resources-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-btn-group {
    flex-direction: column;
  }
  .resources-features1 {
    height: 1222px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .resources-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .resources-footer1 {
    height: 248px;
    padding: var(--dl-space-space-unit);
  }
  .resources-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .resources-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .resources-text17 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
