.resources-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resources-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.resources-logo {
  text-decoration: none;
}
.resources-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.resources-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.resources-home {
  transition: 0.3s;
  text-decoration: none;
}
.resources-faq {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-plans-pricing {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-portfolio {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-resources {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-contact {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-login {
  margin-right: 32px;
}
.resources-burger-menu {
  display: none;
}
.resources-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.resources-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.resources-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.resources-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.resources-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.resources-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.resources-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.resources-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.resources-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.resources-hero1 {
  height: 135px;
}
.resources-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-hero-heading {
  max-width: 800px;
  text-align: center;
}
.resources-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.resources-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.resources-container02 {
  width: 100%;
  height: 255px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.resources-text14 {
  color: rgb(255, 255, 255);
  width: 390px;
  font-size: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  background-color: rgb(0, 0, 0);
}
.resources-container03 {
  width: 1114px;
  height: 161px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.resources-container04 {
  display: contents;
}
.resources-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 819px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.resources-container05 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.resources-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.resources-container06 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.resources-pricing {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-container07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-pricing-sub-heading {
  text-align: center;
}
.resources-container08 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.resources-container09 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-text37 {
  text-transform: uppercase;
}
.resources-container10 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.resources-text38 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.resources-free-plan-price {
  font-size: 4rem;
  font-weight: 700;
}
.resources-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.resources-container12 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text41 {
  line-height: 150%;
}
.resources-container13 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text42 {
  line-height: 150%;
}
.resources-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text43 {
  line-height: 150%;
}
.resources-container15 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text44 {
  line-height: 150%;
}
.resources-button {
  width: 100%;
}
.resources-container16 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-text45 {
  text-transform: uppercase;
}
.resources-container17 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.resources-text46 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.resources-basic-plan-pricing {
  font-size: 4rem;
  font-weight: 700;
}
.resources-container18 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.resources-container19 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text49 {
  line-height: 150%;
}
.resources-container20 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text51 {
  line-height: 150%;
}
.resources-container21 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text52 {
  line-height: 150%;
}
.resources-container22 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text53 {
  line-height: 150%;
}
.resources-container23 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text54 {
  line-height: 150%;
}
.resources-button1 {
  width: 100%;
}
.resources-container24 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-text55 {
  text-transform: uppercase;
}
.resources-container25 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.resources-text58 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.resources-pro-plan-pricing {
  font-size: 4rem;
  font-weight: 700;
}
.resources-text61 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.resources-container26 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.resources-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text62 {
  line-height: 150%;
}
.resources-container28 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text64 {
  line-height: 150%;
}
.resources-container29 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text65 {
  line-height: 150%;
}
.resources-container30 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text66 {
  line-height: 150%;
}
.resources-container31 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.resources-text67 {
  line-height: 150%;
}
.resources-button2 {
  width: 100%;
  animation-name: headShake;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.resources-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-banner-heading {
  text-align: center;
}
.resources-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.resources-faq1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-faq2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.resources-container32 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-text85 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.resources-text86 {
  text-align: left;
}
.resources-container33 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-container34 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.resources-logo2 {
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.resources-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.resources-home1 {
  margin-left: 0px;
  text-decoration: none;
}
.resources-faq3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-plans-pricing1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-portfolio1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-resources1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-contact1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.resources-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-text89 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 400;
  line-height: 150%;
}
.resources-link {
  text-decoration: underline;
}
.resources-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-link1 {
  display: contents;
}
.resources-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-link2 {
  display: contents;
}
.resources-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.resources-link3 {
  display: contents;
}
.resources-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .resources-hero1 {
    flex-direction: column;
  }
  .resources-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .resources-hero-heading {
    text-align: center;
  }
  .resources-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .resources-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .resources-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .resources-container08 {
    align-items: center;
    flex-direction: column;
  }
  .resources-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .resources-pricing-card1 {
    width: 100%;
    max-width: 450px;
  }
  .resources-pricing-card2 {
    width: 100%;
    max-width: 450px;
  }
  .resources-banner-sub-heading {
    max-width: 100%;
  }
  .resources-text86 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .resources-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-desktop-menu {
    display: none;
  }
  .resources-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resources-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .resources-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .resources-container06 {
    grid-template-columns: 1fr;
  }
  .resources-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .resources-container08 {
    align-items: center;
    flex-direction: column;
  }
  .resources-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .resources-pricing-card1 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .resources-pricing-card2 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .resources-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .resources-faq2 {
    flex-direction: column;
  }
  .resources-container32 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .resources-text86 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .resources-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resources-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .resources-container35 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .resources-text89 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .resources-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .resources-mobile-menu1 {
    padding: 16px;
  }
  .resources-hero1 {
    height: 264px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .resources-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .resources-btn-group {
    flex-direction: column;
  }
  .resources-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .resources-pricing-card2 {
    margin-bottom: 0px;
  }
  .resources-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .resources-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .resources-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .resources-container35 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .resources-text89 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
